*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #212121;
  font-size: calc(10px + 1vmin);
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

article > * + * {
  margin-top: 2rem;
}

hr {
  opacity: 0.38;
}

li {
  list-style: disc;
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: bold;
}

h1 {
  text-align: left;
  font-size: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
  line-height: 1.38;
}

h2 {
  font-size: 1.62rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.62rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.62rem;
  margin-bottom: 1rem;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

pre {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.38rem;
  overflow-x: scroll;
}

a {
  display: inline-block;
  color: #00dddd;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  color: inherit;
}

td,
th,
tr {
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding: 0.62rem;
}

blockquote {
  border-left: 2px solid rgba(255, 255, 255, 0.38);
  padding: 0.38rem 1rem;
}

:not(pre) > code {
  padding: 0 0.38rem;
  background: #333;
}
