*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #212121;
  font-size: calc(10px + 1vmin);
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
